:host ::ng-deep .p-datatable-thead > tr > th {
  background: var(--deep-navy);
  color: var(--cream);
}

:host ::ng-deep .p-datatable-tbody > tr > td {
  color: var(--cobalt);
}


.empty-msg {
  text-align: center;
  color: var(--cobalt);
  margin: 0;
  padding: 40px 0;
}
