<p-dialog
  [visible]="visible()"
  (onHide)="onHide()"
  [modal]="true"
  [style]="{ width: '380px' }"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
>
  <ng-template pTemplate="header">
    <div class="dialog-header">
      @if (coin()) {
        <app-country-flag [country]="coin()!.country" [size]="20" />
      }
      <span class="dialog-header__title">{{ dialogTitle() }}</span>
    </div>
  </ng-template>
  <div class="uds-form">
    @if (showOwnerPicker()) {
      <div class="uds-form__owner-picker">
        <span class="uds-form__owner-label">{{ literals.editingFor }}</span>
        <app-filter-pills
          [options]="ownerPickerOptions"
          [value]="editingOwner()"
          (valueChange)="onOwnerPickerChange($event)"
        />
      </div>
    }

    <app-text-input
      [label]="literals.unitsLabel"
      [value]="uds().toString()"
      type="number"
      [min]="0"
      (valueChange)="uds.set(+$event)"
    />

    <app-select
      [label]="literals.conservationLabel"
      [value]="conservation()"
      [options]="conservationOptions"
      (valueChange)="conservation.set($any($event))"
    />

    <app-textarea
      [label]="literals.descriptionLabel"
      [value]="description()"
      (valueChange)="description.set($event)"
    />

    <app-textarea
      [label]="literals.observationsLabel"
      [value]="observations()"
      [placeholder]="literals.observationsPlaceholder"
      (valueChange)="observations.set($event)"
    />

    <app-toggle
      [label]="literals.circulationLabel"
      [value]="circulation()"
      (valueChange)="circulation.set($event)"
    />

    <app-text-input
      [label]="literals.idNumLabel"
      [value]="idNum()"
      type="text"
      (valueChange)="idNum.set($event)"
    />

    @if (errorMessage()) {
      <p class="uds-form__error">{{ errorMessage() }}</p>
    }

    <div class="uds-form__actions">
      <app-button [label]="sharedLiterals.save" [loading]="loading()" (clicked)="onSubmit()" />
    </div>
  </div>
</p-dialog>
