@use 'styles/variables' as *;
@use 'styles/typography' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import 'primeicons/primeicons.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-base);
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
